<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://bootswatch.com/4/pulse/bootstrap.min.css" rel="stylesheet" type="text/css" >       
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {{ include('include/navbar.html.twig') }}
        <div class="container">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
